{% extends 'base.html.twig' %}

{% block header %}Agenda{% endblock %}

{% block body %}
    <div style="height: 600px; width: 800px; background-image: url('{{asset('bundles/PokedexBundle/pokedex.png')}}')">
        <img style="margin-left: 35px; margin-top: 160px; height: 320px; width: 320px;" 
             src="{{asset('bundles/PokedexBundle/totodile.png')}}" />
        <div style="">
            
        </div>
    </div>
{% endblock %}