{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block body %}
    <div class="alert alert-success">
        Respostas enviadas com sucesso!
    </div>
    <a href="{{path('questionario')}}">Voltar</a>
{% endblock %}